.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.main h1{
  justify-content: center;
  align-items: center;
  align-self: center;
  /* border: 3px solid green; */
  font-size: xx-large;
  color: rgb(78, 48, 48);
  font-family: 'Courier New', Courier, monospace;
}
.product_page ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.product_page li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 10px 50px 10px 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
}
.product_page li:hover {
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
}
.product_page .page_links {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: whitesmoke;
}
.page_links h2 {
  font-size: 2rem;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;

}

.img {
  /* border-radius: 10px; */
  height: 100%;
  width: 300px;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: ease-out 0.4s;
  text-align: center;
  overflow: hidden;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 2.5rem 0 2.5rem 1.25rem;
  position: relative;
}
.img:hover {
  transition: all 0.4s ease-in-out;
  width: 800px;
}
.active {
  transition: all 0.4s ease-in-out;
  width: 700px;
}

.thingy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  /* border: 3px solid rgb(36, 15, 220);  */
}
.img h2 {
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: start;
  margin-left: 20px;
  margin-top: 20px;
  /* border: 3px solid green; */
  font-size: 3rem;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  border-bottom: 1px solid whitesmoke;
}

.main .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.content h1 {
  justify-content: center;
  align-items: center;
  align-self: center;
  /* border: 3px solid green; */
  font-size: xx-large;
  color: rgb(78, 48, 48);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  font-size: 6rem;
}

.content h2 {
  position: absolute;
  font-size: 3rem;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  border-bottom: 1px solid whitesmoke;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 6rem;
}

.content span {
  display: flex;
  flex-direction: row;
  /* border: 3px solid purple; */
  justify-content: space-between;
}
.content p {
  /* border: 3px solid purple; */
  font-size: 3rem;
  color: rgb(78, 48, 48);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  /* border: 3px solid purple; */
  font-size: 3rem;
  color: rgb(78, 48, 48);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
}
.contact h1 {
  font-size: 3rem;
  border-bottom: 1.5px solid black;
}
.contact li {
  list-style: none;
  margin-right: 70px;
}
.contact li:hover {
  text-decoration: line-through;
}

/* product pages */

.product_page h1 {
  font-size: 3rem;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  border-bottom: 1px solid rgb(78, 48, 48);
  margin-left: 20px;
  margin-top: 20px;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

main .product_display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.product_display .products:hover{
  border-bottom: 2px solid rgb(206, 204, 204);
}
.product_display .products {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  margin: 20px 8px 20px 8px;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  font-weight: 400;
}
.products p {
  font-size: x-large;
  font-weight: 500;
}
